.row{:style => 'padding-bottom:15px;'}
  .col-lg-2
    = @app_server.name 
  .col-lg-10
    %ul.nav.nav-pills.nav-justified
      %li= link_to 'Networking', edit_app_server_path(@app_server,:section => :networking)
      %li= link_to 'Persistence', edit_app_server_path(@app_server,:section=>:persistence)
      %li= link_to "World", edit_app_server_path(@app_server, :section => :world)
      %li= link_to 'Misc', edit_app_server_path(@app_server, :section => :misc)

.row
  .col-lg-12
    = form_for(@app_server, html: {class: 'form-horizontal' }) do |f|
      - if @section == :networking
        = render :partial => 'networking'
      - elsif @section == :persistence
        = render :partial => 'persistence'
      - elsif @section == :world
        = render :partial => 'world'
      - elsif @section == :misc
        = render :partial => 'misc'
      .form-group
        .col-lg-offset-1.col-lg-9
          = f.submit 'Update', :class => 'btn btn-primary btn-block'
