- server = object
- if server.enabled?
  - server.update_status
  = server.status_message
  %span
    - if server.running? or server.error?
      = link_to('Stop',"/admin/server/#{server.id}/stop")
    - elsif server.stopped?
      = link_to('Start',"/admin/server/#{server.id}/start")
- else
  Disabled
