.panel.panel-default
  .panel-body
    .row
      .col-lg-6
        .form-group
          %label.col-lg-4
            Enable Tcp
          .col-lg-8
            .make-switch.switch-small
              = f.check_box :tcp_enabled
        .form-group
          %label.col-lg-4
            Tcp Hostname
          .col-lg-8
            = f.text_field :tcp_host, {:class => 'form-control'}
        .form-group
          %label.col-lg-4
            Tcp Port
          .col-lg-3
            = f.text_field :tcp_port, :class => 'form-control'
      .col-lg-6
        About tcp
.panel.panel-default
  .panel-body
    .row
      .col-lg-6
        .form-group
          %label.col-lg-4
            Enable Udp
          .col-lg-8
            .make-switch.switch-small
              = f.check_box :udp_enabled
        .form-group
          %label.col-lg-4
            Udp Hostname
          .col-lg-8
            = f.text_field :udp_host, :class => 'form-control'
        .form-group
          %label.col-lg-4
            Udp Port
          .col-lg-3
            = f.text_field :udp_port, :class => 'form-control'
      .col-lg-6
        About udp
.panel.panel-default
  .panel-body
    .row
      .col-lg-6
        .form-group
          %label.col-lg-4
            Enable Udt
          .col-lg-8
            .make-switch.switch-small
              = f.check_box :udt_enabled
        .form-group
          %label.col-lg-4
            Udt Hostname
          .col-lg-8
            = f.text_field :udt_host, :class => 'form-control'
        .form-group
          %label.col-lg-4
            Udt Port
          .col-lg-3
            = f.text_field :udt_port, :class => 'form-control'
      .col-lg-6
        About tcp
.panel.panel-default
  .panel-body
    .row
      .col-lg-6
        .form-group
          %label.col-lg-4
            Enable Http
          .col-lg-8
            .make-switch.switch-small
              = f.check_box :http_enabled
        .form-group
          %label.col-lg-4
            Http Hostname
          .col-lg-8
            = f.text_field :http_host, :class => 'form-control'
        .form-group
          %label.col-lg-4
            Http Port
          .col-lg-3
            = f.text_field :http_port, :class => 'form-control'
      .col-lg-6
        About Http
.panel.panel-default
  .panel-body
    .row
      .col-lg-6
        .form-group
          %label.col-lg-4
            Akka Hostname
          .col-lg-8
            = f.text_field :akka_host, :class => 'form-control'
        .form-group
          %label.col-lg-4
            Akka Port
          .col-lg-3
            = f.text_field :akka_port, :class => 'form-control'
      .col-lg-6
        About Akka
