!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title=content_for?(:title) ? yield(:title) : "Admin2"
    = csrf_meta_tags
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css", rel: "stylesheet"}
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    %body
      .navbar.navbar-inverse.navbar-fixed-top
        .gm-header.container-fluid{:style => 'background-color:#194858'}
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: "/"} Game Machine
          .navbar-collapse.collapse
            %form.navbar-form.navbar-right
              .form-group
                %input.form-control{placeholder: "Email", type: "text"}/
              .form-group
                %input.form-control{placeholder: "Password", type: "password"}/
              %button.btn.btn-success{type: "submit"} Sign in
      .container
        %div{:style => 'height:50px'}
          %p.notice
            = notice
          %p.alert
            = alert
        .row
          .col-lg-2
            %ul.nav.nav-pills.nav-stacked
              %li= link_to 'Home', manage_path
              %li= link_to 'App Servers', app_servers_path
              %li= link_to "Client SDK's", app_servers_path
              %li= link_to 'Plugin Store', app_servers_path
              %li= link_to 'Community & Support', app_servers_path
              %li= link_to 'Account', app_servers_path
          .col-lg-10
            .row
              .col-lg-12= yield
        %hr/
        %footer
          %p © Game Machine 2013
